@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font */
@font-face {
  font-family: 'vesterbro';
  /* src: url('/fonts/vesterbro-poster.otf') format('opentype'); */
  src: url('/fonts/vesterbro-poster.woff2');
  font-weight: normal;
  font-display: block;
}

@font-face {
  font-family: 'lato';
  src: url('/fonts/lato-semibold.ttf');
  font-weight: normal;
  font-display: block;
}

h1 {
  @apply font-vesterbro;
}

h2 {
  @apply font-vesterbro;
}

h3 {
  @apply font-vesterbro;
}

h4 {
  @apply font-lato;
}

button {
  @apply font-lato;
}

a {
  @apply font-lato;
}

p {
  @apply font-lato;
}

th {
  @apply font-vesterbro;
}

tr {
  @apply font-lato;
}

span {
  @apply font-lato;
}

text {
  @apply font-lato;
}
/* End Font */

table {
  @apply divide-y divide-gray-300;
}

tr {
  @apply divide-x divide-gray-200;
}

tbody {
  @apply divide-y divide-gray-200;
}
